name: Tests

on:
  [push, pull_request]
env:
  MIX_ENV: test
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: elixir:1.15.7
    steps:
    - uses: actions/checkout@v4
    - name: Check Formatting
      run: mix format --check-formatted
    - name: Run Tests
      run: mix test
